.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml

node_modules/**
client/node_modules/**
server/node_modules/**

server/src
client/src
src/
server/webpack.config.js
client/webpack.config.js

*.vsix
images/*.gif